@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #f8f9fd;
  font-family: "Young serif";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  border-radius: 6px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 300px;
}

.title {
  margin: 0;
}

.subtitle {
  display: inline-block;
  margin: 5px 0 20px;
  opacity: 0.7;
}

.header {
  background-color: #3edbd3;
  padding: 30px 20px;
  color: #fff;
}

.header input {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 16px;
  border-radius: 50px;
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
}

.header input:focus {
  outline: none;
}
